

    <div class="container">
        <div class="left-pane">

        </div>
        <div class="right-pane">
        <h1> File Storage application Login</h1>
        <form (ngSubmit)="login()">
        <input type="textfp" name="userid"  [(ngModel)]="userid"  id="uname"  placeholder="userid"><br><br>
        <input type="password" name="pswd"  [(ngModel)]="pswd"  id="pswd" placeholder="password"><br><br>
        <input type="submit" value="log in" class="btn btn-primary"><br><br>
        </form>
        <div class="line"></div><br>
        <a  class="textfp" routerLink="register" >Sign up</a><br>

        
        <div class ="col-4"></div>
     </div>
    </div>

   