<div class="container">
    <div class="col-4">

    </div>
    <div class="main">
    <h1>Register Form</h1><br>
    <form (ngSubmit)="register()">
    <input type="textfp"  name="userid"  [(ngModel)]="userid"  id="userid"  placeholder="userid"><br><br>
    <input type="textfp" name="uname"  [(ngModel)]="uname"  id="uname" placeholder="user name"><br><br>
    <input type="password" name="pswd"  [(ngModel)]="pswd" id="pswd" placeholder="password"><br><br>
    <input type="submit" value="Register" class="btn btn-primary"  ><br><br>
    </form>
    
    </div>
    
 </div>
